* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 800;
}

body,
html {
    color: white;
    overflow-x: hidden;
    background-color: black;
}

.title {
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    font-family: 'Rock 3D', cursive;
}

.memory-game {
    display: flex;
    width: 640px;
    height: 640px;
    margin: auto;
    /* padding: 20px; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}

.card {
    height: calc(25% - 10px);
    width: calc(25% - 10px);
    margin: 5px 5px;
    position: relative;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.4);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .9s;
}

.card:active {
    transform: scale(0.97);
    transition: transform .3s;
}

.front-card,
.back-card {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    /* propriedade que retira o verso do elemento */
}

.front-card {
    transform: rotateY(180deg);
}

.card-flip {
    transform: rotateY(180deg);
}

@media (prefers-reduced-motion: no-preference) {
    .card .back-card {
        animation: disk-spin infinite 5s linear;
    }
}

@keyframes disk-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.play-again {
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    transition: all ease-in-out 2s;
}

.play-again:hover {
    border: 2px solid rgb(95, 0, 0);
    background-color: rgba(255, 0, 0, 0.712);
    transition: all ease-in-out 2s;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.message {
    margin: 20px;
    font-family: 'Nova Square', cursive;
}

footer {
    margin-top: 50px;
    font-size: 20px;
    width: 100vw;
    height: 50vh;
    background: rgb(87, 87, 87);
    padding: 20px 0;
    margin: 0 auto 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.links a {
    text-decoration: none;
    color: yellow;
    border-radius: 50%;
    padding: 10px;
    border: 1px solid rgb(70, 70, 70);
    transition: all ease-in-out .9s;
}

.links a:hover {
    border: 1px solid yellow;
    box-shadow:
        1px 1px 25px 0px rgb(255, 255, 50);
}

footer h4 {
    padding: 20px;
    color: yellow;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .memory-game {
        width: 100%;
        margin: auto;
        padding: 10px;
    }
}

@media screen and (max-width: 680px) {
    .memory-game {
        padding: 5px;
    }

    .card {
        width: calc(25% - 10px);
    }
}